<div class="row my-2">
  <div class="col-lg-12">
    <h3><%= t('about_the_project.title') %></h3>
    <hr class="primary">
    <%= raw t('about_the_project.intro') %>
  </div>
</div>

<div class="row my-2">
  <div class="col-lg-12">
    <h4 class="text-primary"><%= t('about_the_project.how_does_it_work.title') %></h4>
    <hr>
    <%= raw t('about_the_project.how_does_it_work.text') %>
  </div>
</div>

<div class="row my-2">
  <div class="col-lg-12">
    <h4 class="text-primary"> <%= t('about_the_project.about_us.title') %></h4>
    <hr>
    <%= raw t('about_the_project.about_us.text') %>
  </div>
</div>

<div class="row my-2">
  <div class="col-lg-12">
    <h4 class="text-primary"><%= t('about_the_project.research_ethics_and_data_storage.title') %></h4>
    <hr>
    <%= raw t('about_the_project.research_ethics_and_data_storage.text') %>
  </div>
</div>

<div class="row my-2">
  <div class="col-lg-12">
    <h3> <%= t('contact.title') %></h3>
    <hr class="primary">
    <%= raw t('contact.text') %>
  </div>
</div>

<div class="row my-2">
  <div class="col-lg-12">
    <h3> <%= t('about_the_project.frequently_asked_questions.title') %></h3>
    <hr class="primary">
    <%= raw t('about_the_project.frequently_asked_questions.text') %>
  </div>
</div>
