<div class="row my-2">
  <div class="col-lg-12">
    <h3><%= t('about_the_debate.title') %></h3>
    <hr class="primary">
    <%= raw t('about_the_debate.intro') %>
  </div>
</div>


<div class="row my-2">
  <h3><%= t('about_the_debate.new_conservation.title') %></h3>
  <hr class="primary">

  <div class="col-lg-7">
    <%= raw t('about_the_debate.new_conservation.text') %>
  </div>
  <div class="col-lg-5">
    <%= image_tag 'FoC-NC.jpg', class: 'w-100' %>
  </div>
  <div class="col-lg-12">
    <h4 class="text-primary my-2"><%= t('about_the_debate.key_references') %></h4>
    <div class="text-muted">
      <small>
        <%= raw t('about_the_debate.new_conservation.citations') %>
      </small>
    </div>
  </div>
</div>


<div class="row my-2">
  <h3><%= t('about_the_debate.traditional_conservation.title') %></h3>
  <hr class="primary">

  <div class="col-lg-7">
    <%= raw t('about_the_debate.traditional_conservation.text') %>
  </div>
  <div class="col-lg-5">
    <%= image_tag 'FoC-TC.jpg', class: 'w-100' %>
  </div>

  <div class="col-lg-12">

    <h4 class="text-primary my-2"> <%= t('about_the_debate.key_references') %> </h4>
    <div class="text-muted">
      <small>
        <%= raw t('about_the_debate.traditional_conservation.citations') %>
      </small>
    </div>
  </div>
</div>


<div class="row my-2">
  <h3> <%= t('about_the_debate.market_biocentrism.title') %></h3>
  <hr class="primary">

  <div class="col-lg-7">
    <%= raw t('about_the_debate.market_biocentrism.text') %>
  </div>
  <div class="col-lg-5">
    <%= image_tag 'FoC-MB.jpg', class: 'w-100' %>
  </div>

  <div class="col-lg-12">
    <h4 class="text-primary my-2"> <%= t('about_the_debate.key_references') %> </h4>
    <div class="text-muted">
      <small>
        <%= raw t('about_the_debate.market_biocentrism.citations') %>
      </small>
    </div>
  </div>
</div>

<div class="row my-2">
  <h3> <%= t('about_the_debate.critical_social_science.title') %></h3>
  <hr class="primary">

  <div class="col-lg-7">
    <%= raw t('about_the_debate.critical_social_science.text') %>
  </div>
  <div class="col-lg-5">
    <%= image_tag 'FoC-CSS.jpg', class: 'w-100' %>
  </div>

  <div class="col-lg-12">
    <h4 class="text-primary my-2"> <%= t('about_the_debate.key_references') %></h4>
    <div class="text-muted">
      <small>
        <%= raw t('about_the_debate.critical_social_science.citations') %>
      </small>
    </div>
  </div>
</div>

<div class="row my-2">
  <h3> Contact </h3>
  <hr class="primary">
  <%= raw t('contact') %>
</div>
