<div class="row my-2">
  <div class="col-lg-12">
    <h3><%= t('home.title') %></h3>
    <hr class="primary">
    <%= raw t('home.intro') %>
  </div>
</div>

<div class="row text-xs-center my-2">
  <%= link_to t('home.call_to_action'), new_survey_path, class: 'btn btn-lg btn-primary' %>
</div>

<div class="row">
  <div class="col-lg-12">
    <p>
    <%= raw t('home.disclaimer') %> <%= link_to t('here'), about_the_project_path %>.
    </p>
  </div>
</div>

<div class="row my-2">
  <div class="col-lg-6">
    <h3><%= t('home.what_next.title') %></h3>
    <hr class="primary">
    <%= raw t('home.what_next.text') %>
  </div>
  <div class="col-lg-6">
    <%= image_tag 'main.jpg', class: 'img-fluid' %>
  </div>
</div>
