<p class="card-text">
  <%= ff.radio_button "#{question_id}_scale", '5' %>
  <%= label_tag 'Strongly Agree' %>
</p>

<p class="card-text">
  <%= ff.radio_button "#{question_id}_scale", '4' %>
  <%= label_tag 'Agree' %>
</p>

<p class="card-text">
  <%= ff.radio_button "#{question_id}_scale", '3' %>
  <%= label_tag 'Neutral' %>
</p>

<p class="card-text">
  <%= ff.radio_button "#{question_id}_scale", '2' %>
  <%= label_tag 'Disagree' %>
</p>

<p class="card-text">
  <%= ff.radio_button "#{question_id}_scale", '1' %>
  <%= label_tag 'Strongly Disagree' %>
</p>
