<p class="card-text">
  <%= label_tag do %>
    <%= ff.radio_button "#{question_id}_scale", '-3' %>
    Strongly Disagree
  <% end %>
</p>

<p class="card-text">
  <%= label_tag do %>
    <%= ff.radio_button "#{question_id}_scale", '-2' %>
    Disagree
  <% end %>
</p>

<p class="card-text">
  <%= label_tag do %>
    <%= ff.radio_button "#{question_id}_scale", '-1' %>
    Slightly Disagree
  <% end %>
</p>

<p class="card-text">
  <%= label_tag do %>
    <%= ff.radio_button "#{question_id}_scale", '0' %>
    Neutral
  <% end %>
</p>

<p class="card-text">
  <%= label_tag do %>
    <%= ff.radio_button "#{question_id}_scale", '1' %>
    Slightly Agree
  <% end %>
</p>

<p class="card-text">
  <%= label_tag do %>
    <%= ff.radio_button "#{question_id}_scale", '2' %>
    Agree
  <% end %>
</p>

<p class="card-text">
  <%= label_tag do %>
    <%= ff.radio_button "#{question_id}_scale", '3' %>
    Strongly Agree
  <% end %>
</p>
