<p class="card-text">
  <%= ff.radio_button "#{question_id}_scale", '-3' %>
  <%= label_tag 'Strongly Disagree' %>
</p>

<p class="card-text">
  <%= ff.radio_button "#{question_id}_scale", '-2' %>
  <%= label_tag 'Disagree' %>
</p>

<p class="card-text">
  <%= ff.radio_button "#{question_id}_scale", '-1' %>
  <%= label_tag 'Slightly Disagree' %>
</p>

<p class="card-text">
  <%= ff.radio_button "#{question_id}_scale", '0' %>
  <%= label_tag 'Neutral' %>
</p>

<p class="card-text">
  <%= ff.radio_button "#{question_id}_scale", '1' %>
  <%= label_tag 'Slightly Agree' %>
</p>

<p class="card-text">
  <%= ff.radio_button "#{question_id}_scale", '2' %>
  <%= label_tag 'Agree' %>
</p>

<p class="card-text">
  <%= ff.radio_button "#{question_id}_scale", '3' %>
  <%= label_tag 'Strongly Agree' %>
</p>
