<p class="card-text">
  <%= label_tag do %>
    <%= ff.radio_button "#{question_id}_scale", '-3' %>
    <%= t('questionnaire.answers.strongly_disagree') %>
  <% end %>
</p>

<p class="card-text">
  <%= label_tag do %>
    <%= ff.radio_button "#{question_id}_scale", '-2' %>
    <%= t('questionnaire.answers.disagree') %>
  <% end %>
</p>

<p class="card-text">
  <%= label_tag do %>
    <%= ff.radio_button "#{question_id}_scale", '-1' %>
    <%= t('questionnaire.answers.slightly_disagree') %>
  <% end %>
</p>

<p class="card-text">
  <%= label_tag do %>
    <%= ff.radio_button "#{question_id}_scale", '0' %>
    <%= t('questionnaire.answers.neutral') %>
  <% end %>
</p>

<p class="card-text">
  <%= label_tag do %>
    <%= ff.radio_button "#{question_id}_scale", '1' %>
    <%= t('questionnaire.answers.slightly_agree') %>
  <% end %>
</p>

<p class="card-text">
  <%= label_tag do %>
    <%= ff.radio_button "#{question_id}_scale", '2' %>
    <%= t('questionnaire.answers.agree') %>
  <% end %>
</p>

<p class="card-text">
  <%= label_tag do %>
    <%= ff.radio_button "#{question_id}_scale", '3' %>
    <%= t('questionnaire.answers.strongly_agree') %>
  <% end %>
</p>
