
<%= form_for @answer_set, { class: 'survey__questions' } do |f| %>

  <%= fields_for :answers do |ff| %>
    <%= @questions.each_slice(@questions_per_page).with_index do |questions_set, set_index| %>
      <section class="survey__page" id="survey__page--<%= set_index + 1%>">
        <%= render partial: 'survey/progress_bar', locals: {current_page: set_index + 1, total_pages: @total_pages} %>
        <h3 class="survey__title--green"></h3>
        <p>* <%= t('questionnaire.required') %></p>
        <div class="survey__questions-set">
          <% questions_set.each_with_index do |question, question_index| %>

            <div class="survey__question my-2">
              <h4 class="survey__title"><%= question.text %> *</h4>
              <div class="survey__answer-set">
                <%= render partial: "survey/scale", locals: {ff: ff, question_id: question.id} %>
              </div>
            </div>

          <% end %>
        </div>
      </section>
    <% end %>

    <%= @demographic_questions.each_slice(@questions_per_page).with_index do |questions_set, set_index| %>
      <section class="survey__page demographic" id="survey__page--<%= question_pages_count(@questions_per_page) + set_index + 1%>">
        <%= render partial: 'survey/progress_bar', locals: {current_page: question_pages_count(@questions_per_page) + set_index + 1, total_pages: @total_pages} %>
        <h3 class="survey__title--green"></h3>
        <p>* <%= t('questionnaire.required') %></p>
        <p>
          <%= t('questionnaire.demographic_answers.intro') %>
        </p>
        <div class="survey__questions-set">
          <% questions_set.each_with_index do |question, question_index| %>

            <div class="survey__question <%= "survey__question--optional" if question.optional? %> my-2">
              <h4 class="survey__title"><%= question.text %> <%= "*" unless question.optional? %></h4>
              <% if question.description.present? %>
                <p class="survey__description text-muted"><%= question.description %></p>
              <% end %>
              <div class="survey__answer-set">
                <%= render partial: "survey/demographic_questions/#{question.short_name}", locals: {question: question} %>
              </div>
            </div>

          <% end %>
        </div>
      </section>
    <% end %>

  <% end %>

  <hr class="primary">
  <a href="" class="btn btn-lg btn-primary survey__previous-page"><%= t('questionnaire.previous') %></a>
  <a href="" class="btn btn-lg btn-primary survey__next-page"><%= t('questionnaire.next') %></a>
  <%= f.submit t('questionnaire.submit'), class: 'btn btn-lg btn-primary survey__submit', style: 'display:none' %>
<% end %>

