<%= form_for @answer_set do |f| %>
  <%= fields_for :answers do |ff| %>

    <% @questions.each_with_index do |question, index| %>
      <div class="card card-block">
        <h4 class="card-title">
          <span class="text-primary"><%= index + 1 %>.</span> <%= question.text %>
        </h4>
        <hr>
        <%= render partial: "survey/scale", locals: {ff: ff, question_id: question.id} %>
      </div>
    <% end %>

  <% end %>
  <%= f.submit "Submit", class: 'btn btn-lg btn-primary' %>
<% end %>
