<%= form_for @answer_set, { class: 'survey__questions' } do |f| %>

  <%= fields_for :answers do |ff| %>
    <%= @questions.each_slice(@questions_per_page).with_index do |questions_set, set_index| %>
      <section class="survey__page" id="survey__page--<%= set_index + 1%>">
        <h3 class="survey__title--green">Page #<%= set_index + 1 %></h3>
        <div class="survey__questions-set">
          <% questions_set.each_with_index do |question, question_index| %>

            <div class="survey__question my-2">
              <h4 class="survey__title"><%= question.text %></h4>
              <div class="survey__answer-set">
                <%= render partial: "survey/scale", locals: {ff: ff, question_id: question.id} %>
              </div>
            </div>

          <% end %>
        </div>
      </section>
    <% end %>

    <%= @demographic_questions.each_slice(@questions_per_page).with_index do |questions_set, set_index| %>
      <section class="survey__page" id="survey__page--<%= (@questions.count / @questions_per_page) + set_index + 1%>">
        <h3 class="survey__title">Page #<%= @questions.count + set_index + 1 %></h3>
        <div class="survey__questions-set">
          <% questions_set.each_with_index do |question, question_index| %>

            <div class="survey__question my-2">
              <h4 class="survey__title"><%= question.text %></h4>
              <div class="survey__answer-set">
                <%= render partial: "survey/demographic_questions/#{question.short_name}", locals: {question: question} %>
              </div>
            </div>

          <% end %>
        </div>
      </section>
    <% end %>

  <% end %>

  <hr class="primary">
  <a href="" class="btn btn-lg btn-primary survey__previous-page">Previous</a>
  <a href="" class="btn btn-lg btn-primary survey__next-page">Next</a>
  <%= f.submit "Submit", class: 'btn btn-lg btn-primary survey__submit', style: 'display:none' %>
<% end %>

