<%= form_for @answer_set do |f| %>
  <%= fields_for :answers do |ff| %>

    <% @questions.each_with_index do |question, index| %>
      <div class="row question">
        <%= index + 1 %>. <%= question.text %>
        <div class="row">
          <div class="two columns"><i>Strongly Agree</i></div>
          <div class="two columns">
            <%= render partial: "survey/scale", locals: {ff: ff, question_id: question.id} %>
          </div>
          <div class="two columns"><i>Strongly Disagree</i></div>
        </div>
      </div>
    <% end %>

  <% end %>
  <%= f.submit "Submit" %>
<% end %>
