<p class="card-text">
  <%= radio_button_tag "demographics[#{question.short_name}]", 'Yes' %>
  <%= label_tag 'Yes' %>
</p>
<p class="card-text">
  <%= radio_button_tag "demographics[#{question.short_name}]", 'No' %>
  <%= label_tag 'No' %>
</p>
<p class="card-text">
  <%= radio_button_tag "demographics[#{question.short_name}]", 'Not Applicable' %>
  <%= label_tag 'Not Applicable' %>
</p>
