<p class="card-text">
  <%= radio_button_tag "demographics[#{question.short_name}]", 'Yes' %>
  <%= label_tag t('questionnaire.yes') %>
</p>
<p class="card-text">
  <%= radio_button_tag "demographics[#{question.short_name}]", 'No' %>
  <%= label_tag t('questionnaire.no') %>
</p>
<p class="card-text">
  <%= radio_button_tag "demographics[#{question.short_name}]", 'Not Applicable' %>
  <%= label_tag t('questionnaire.not_applicable') %>
</p>
