<p class="card-text">
  <%= radio_button_tag "demographics[#{question.short_name}]", 'Very junior position' %>
  <%= label_tag 'Very junior position' %>
</p>
<p class="card-text">
  <%= radio_button_tag "demographics[#{question.short_name}]", 'Fairly junior position' %>
  <%= label_tag 'Fairly junior position' %>
</p>
<p class="card-text">
  <%= radio_button_tag "demographics[#{question.short_name}]", 'Neither senior nor junior position' %>
  <%= label_tag 'Neither senior nor junior position' %>
</p>
<p class="card-text">
  <%= radio_button_tag "demographics[#{question.short_name}]", 'Fairly senior position' %>
  <%= label_tag 'Fairly senior position' %>
</p>
<p class="card-text">
  <%= radio_button_tag "demographics[#{question.short_name}]", 'Very senior position' %>
  <%= label_tag 'Very senior position' %>
</p>
<p class="card-text">
  <%= radio_button_tag "demographics[#{question.short_name}]", 'I am not currently working in a conservation role' %>
  <%= label_tag 'I am not currently working in a conservation role' %>
</p>
