<p class="card-text">
  <%= check_box_tag "demographics[#{question.short_name}][]", 'Values of family and friends during childhood' %>
  <%= label_tag t('questionnaire.demographic_answers.value_shaping_items.family_during_childhood') %>
</p>
<p class="card-text">
  <%= check_box_tag "demographics[#{question.short_name}][]", 'Values of family and friends during adulthood' %>
  <%= label_tag t('questionnaire.demographic_answers.value_shaping_items.family_during_adulthood') %>
</p>
<p class="card-text">
  <%= check_box_tag "demographics[#{question.short_name}][]", 'Outdoor play/recreation during childhood' %>
  <%= label_tag t('questionnaire.demographic_answers.value_shaping_items.outdoor_play_during_childhood') %>
</p>
<p class="card-text">
  <%= check_box_tag "demographics[#{question.short_name}][]", 'Outdoor play/recreation during adulthood' %>
  <%= label_tag t('questionnaire.demographic_answers.value_shaping_items.outdoor_play_during_adulthood') %>
</p>
<p class="card-text">
  <%= check_box_tag "demographics[#{question.short_name}][]", 'Indoor experiences during childhood' %>
  <%= label_tag t('questionnaire.demographic_answers.value_shaping_items.indoor_experiences_during_childhood') %>
</p>
<p class="card-text">
  <%= check_box_tag "demographics[#{question.short_name}][]", 'Indoor experiences during adulthood' %>
  <%= label_tag t('questionnaire.demographic_answers.value_shaping_items.indoor_experiences_during_adulthood') %>
</p>
<p class="card-text">
  <%= check_box_tag "demographics[#{question.short_name}][]", 'Formal education experience during childhood' %>
  <%= label_tag t('questionnaire.demographic_answers.value_shaping_items.formal_education_during_childhood') %>
</p>
<p class="card-text">
  <%= check_box_tag "demographics[#{question.short_name}][]", 'Formal education experience during adulthood' %>
  <%= label_tag t('questionnaire.demographic_answers.value_shaping_items.formal_education_during_adulthood') %>
</p>
<p class="card-text">
  <%= check_box_tag "demographics[#{question.short_name}][]", 'Professional experience during adulthood' %>
  <%= label_tag t('questionnaire.demographic_answers.value_shaping_items.professional_experience') %>
  <%= label_tag 'Professional experience during adulthood' %>
</p>
<p class="card-text">
  <%= check_box_tag "demographics[#{question.short_name}][]", 'None of the above' %>
  <%= label_tag t('questionnaire.none_of_the_above') %>
</p>
<p class="card-text">
  <%= check_box_tag "demographics[#{question.short_name}][]", 'Not Applicable' %>
  <%= label_tag t('questionnaire.not_applicable') %>
</p>
