<p class="card-text">
  <%= check_box_tag "demographics[#{question.short_name}][]", 'Values of close family and friends during childhood' %>
  <%= label_tag 'Values of close family and friends during childhood' %>
</p>
<p class="card-text">
  <%= check_box_tag "demographics[#{question.short_name}][]", 'Values of close family and friends during adulthood' %>
  <%= label_tag 'Values of close family and friends during adulthood' %>
</p>
<p class="card-text">
  <%= check_box_tag "demographics[#{question.short_name}][]", 'Outdoor play/recreation during childhood' %>
  <%= label_tag 'Outdoor play/recreation during childhood' %>
</p>
<p class="card-text">
  <%= check_box_tag "demographics[#{question.short_name}][]", 'Outdoor play/recreation during adulthood' %>
  <%= label_tag 'Outdoor play/recreation during adulthood' %>
</p>
<p class="card-text">
  <%= check_box_tag "demographics[#{question.short_name}][]", 'Indoor experiences during childhood' %>
  <%= label_tag 'Indoor experiences (e.g. reading books, watching documentaries, playing video games) during childhood' %>
</p>
<p class="card-text">
  <%= check_box_tag "demographics[#{question.short_name}][]", 'Indoor experiences during adulthood' %>
  <%= label_tag 'Indoor experiences (e.g. reading books, watching documentaries, playing video games) during adulthood' %>
</p>
<p class="card-text">
  <%= check_box_tag "demographics[#{question.short_name}][]", 'Formal education experience during childhood' %>
  <%= label_tag 'Formal education experience (e.g. field trip, classroom session) during childhood' %>
</p>
<p class="card-text">
  <%= check_box_tag "demographics[#{question.short_name}][]", 'Formal education experience during adulthood' %>
  <%= label_tag 'Formal education experience (e.g. field trip, classroom session) during adulthood' %>
</p>
<p class="card-text">
  <%= check_box_tag "demographics[#{question.short_name}][]", 'Professional experience during adulthood' %>
  <%= label_tag 'Professional experience during adulthood' %>
</p>
