<p class="card-text">
  <%= radio_button_tag "demographics[#{question.short_name}]", 'Advocacy' %>
  <%= label_tag 'Advocacy' %>
</p>
<p class="card-text">
  <%= radio_button_tag "demographics[#{question.short_name}]", 'Comms and Media' %>
  <%= label_tag 'Comms and Media' %>
</p>
<p class="card-text">
  <%= radio_button_tag "demographics[#{question.short_name}]", 'Fundraising' %>
  <%= label_tag 'Fundraising' %>
</p>
<p class="card-text">
  <%= radio_button_tag "demographics[#{question.short_name}]", 'Global Programmes' %>
  <%= label_tag 'Global Programmes' %>
</p>
<p class="card-text">
  <%= radio_button_tag "demographics[#{question.short_name}]", 'Operations' %>
  <%= label_tag 'Operations' %>
</p>
<p class="card-text">
  <%= radio_button_tag "demographics[#{question.short_name}]", 'Our Planet' %>
  <%= label_tag 'Our Planet' %>
</p>
<p class="card-text">
  <%= radio_button_tag "demographics[#{question.short_name}]", 'CEO Office' %>
  <%= label_tag 'CEO Office' %>
</p>
