<p class="card-text">
  <%= radio_button_tag "demographics[#{question.short_name}]", 'Advocacy' %>
  <%= label_tag t('questionnaire.demographic_question.wwf_programme.advocacy') %>
</p>
<p class="card-text">
  <%= radio_button_tag "demographics[#{question.short_name}]", 'Comms and Media' %>
  <%= label_tag t('questionnaire.demographic_question.wwf_programme.comms_and_media') %>
</p>
<p class="card-text">
  <%= radio_button_tag "demographics[#{question.short_name}]", 'Fundraising' %>
  <%= label_tag t('questionnaire.demographic_question.wwf_programme.fundraising') %>
</p>
<p class="card-text">
  <%= radio_button_tag "demographics[#{question.short_name}]", 'Global Programmes' %>
  <%= label_tag t('questionnaire.demographic_question.wwf_programme.global_programmes') %>
</p>
<p class="card-text">
  <%= radio_button_tag "demographics[#{question.short_name}]", 'Operations' %>
  <%= label_tag t('questionnaire.demographic_question.wwf_programme.operations') %>
</p>
<p class="card-text">
  <%= radio_button_tag "demographics[#{question.short_name}]", 'Our Planet' %>
  <%= label_tag t('questionnaire.demographic_question.wwf_programme.our_planet') %>
</p>
<p class="card-text">
  <%= radio_button_tag "demographics[#{question.short_name}]", 'CEO Office' %>
  <%= label_tag t('questionnaire.demographic_question.wwf_programme.ceo_office') %>
</p>
