<p id="notice"><%= notice %></p>

<% @demographic_question.translations.each do |translation| %>
  <p>
  <strong>Text (<%= t('language', locale: translation.locale) %>)</strong>
  <%= translation.text %>
  </p>

  <p>
  <strong>Description (<%= t('language', locale: translation.locale) %>)</strong>
  <%= translation.description %>
  </p>
<% end %>

<p>
  <strong>Position:</strong>
  <%= @demographic_question.position %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @demographic_question.short_name %>
</p>

<p>
  <strong>Optional:</strong>
  <%= @demographic_question.optional %>
</p>

<p>
  <strong>Published:</strong>
  <%= @demographic_question.published %>
</p>

<%= link_to 'Edit', edit_demographic_question_path(@demographic_question) %> |
<%= link_to 'Back', demographic_questions_path %>
