<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Filter results by Gender
       </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">
        <%= form_tag results_path(@results.uuid, anchor: "chart"), method: :get do %>
          <h4>Gender</h4>
          <p>
            <%= radio_button_tag "filter[gender]", 'Male' %>
            <%= label_tag "filter[gender]", 'Show only results by Males' %>
          </p>
          <p>
            <%= radio_button_tag "filter[gender]", 'Female' %>
            <%= label_tag "filter[gender]", 'Show only results by Females' %>
          </p>

          <%= submit_tag 'Filter', class: 'btn btn-primary' %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         Filter results by Educational Specialism
        </a>
      </h5>
    </div>

    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block">
        <%= form_tag results_path(@results.uuid, anchor: "chart"), method: :get do %>
          <h4>Educational Specialism</h4>
          <p class="card-text">
            <%= radio_button_tag "filter[educational_specialism]", 'Biological Sciences' %>
            <%= label_tag 'Biological Sciences (e.g. Zoology, Plant Sciences)' %>
          </p>
          <p class="card-text">
            <%= radio_button_tag "filter[educational_specialism]", 'Non-biological Natural Sciences' %>
            <%= label_tag 'Non-biological Natural Sciences (e.g. Chemistry, Maths, Engineering)' %>
          </p>
          <p class="card-text">
            <%= radio_button_tag "filter[educational_specialism]", 'Social Sciences' %>
            <%= label_tag 'Social Sciences (e.g. Economics, Human Geography, Political Science)' %>
          </p>
          <p class="card-text">
            <%= radio_button_tag "filter[educational_specialism]", 'Humanities' %>
            <%= label_tag 'Humanities (e.g. Literature, History, Philosophy, Languages)' %>
          </p>
          <p class="card-text">
            <%= radio_button_tag "filter[educational_specialism]", 'Interdisciplinary' %>
            <%= label_tag 'Interdisciplinary (a combination of at least two of Natural Science, Social Science and Humanities)' %>
          </p>
          <p class="card-text">
            <%= radio_button_tag "filter[educational_specialism]", 'Not Applicable' %>
            <%= label_tag 'Not Applicable' %>
          </p>

          <%= submit_tag 'Filter', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         Highest completed educational qualification
        </a>
      </h5>
    </div>

    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-block">
        <%= form_tag results_path(@results.uuid, anchor: "chart"), method: :get do %>
          <h4>Highest completed educational qualification</h4>
          <p class="card-text">
            <%= radio_button_tag "filter[education]", 'School level' %>
            <%= label_tag 'School level' %>
          </p>
          <p class="card-text">
            <%= radio_button_tag "filter[education]", 'Post-high school, but at an institution other than a university' %>
            <%= label_tag 'Post-high school, but at an institution other than a university' %>
          </p>
          <p class="card-text">
            <%= radio_button_tag "filter[education]", 'Undergraduate/Bachelors university degree' %>
            <%= label_tag 'Undergraduate/Bachelors university degree' %>
          </p>
          <p class="card-text">
            <%= radio_button_tag "filter[education]", 'Masters degree/Postgraduate qualification' %>
            <%= label_tag 'Masters degree/Postgraduate qualification' %>
          </p>
          <p class="card-text">
            <%= radio_button_tag "filter[education]", 'Doctorate' %>
            <%= label_tag 'Doctorate' %>
          </p>

          <%= submit_tag 'Filter', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="headingFour">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
         Age
        </a>
      </h5>
    </div>

    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="card-block">
        <%= form_tag results_path(@results.uuid, anchor: "chart"), method: :get do %>
          <h4>Age</h4>
          <p class="card-text">
            <%= number_field_tag "filter[age][min]", 'School level' %>
            <%= label_tag 'Minimum Age' %>
          </p>
          <p class="card-text">
            <%= number_field_tag "filter[age][max]", 'Post-high school, but at an institution other than a university' %>
            <%= label_tag 'Maximum Age' %>
          </p>

          <%= submit_tag 'Filter', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>

</div><!--accordion-->
