<%#<div class="row">%>
  <%#<div class="col-lg-12">%>
    <%#<h3>You have most in common with</h3>%>
    <%#<h1>??? Conservationalist</h1>%>
  <%#</div>%>
<%#</div>%>

<%#<div class="row">%>
  <%#<div class="col-lg-6">%>
    <%#<p>%>
      <%#Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mauris odio, dapibus id tellus in, tincidunt auctor ligula. Praesent sit amet urna feugiat, euismod leo vitae, ornare quam. Nulla porta dapibus eleifend. Donec a sollicitudin urna, id euismod nisi. Etiam ut cursus quam. Donec at efficitur ipsum. Sed sagittis efficitur dolor, nec sollicitudin elit lacinia eu. Nulla blandit mauris et laoreet luctus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec nisi nulla, porttitor a augue sit amet, efficitur auctor ligula. Fusce malesuada cursus enim vitae volutpat. Donec volutpat dolor vel velit consequat, id tempus nulla tempor. Curabitur fermentum turpis elit, non cursus velit convallis a.%>
    <%#</p>%>
  <%#</div>%>
  <%#<div class="col-lg-6">%>
    <%#<%= image_tag 'http://www.placehold.it/500x250' %>
  <%#</div>%>
<%#</div>%>

<div class="row my-2">
  <div class="col-lg-12">
    <h1>Your results</h1>
    <hr class="primary">
    <h4>Your thinking most closely aligns with: <%= @results.classification.name %></h4>
    <%= format_text(@results.classification.description) %>
    <h4>Your results</h4>
    <%= format_text(@results.classification.results_description) %>
  </div>
</div>

<div class="row my-2">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">See how you compare with others</h4>
        <p class="card-text">Comparing your results against <%= @all_other_results.count %> other <%= "result".pluralize(@all_other_results.count) %></p>
        <% if params["filter"].present? %>
          <p>Filtering results by: <%= format_filters_for_display %></p>
        <% end %>
      </div>
      <%= scatter_chart @data, @config %>
      <div class="my-2 text-xs-center">
        <h4>Share your results</h4>
        <%= render 'social_sharing' %>
      </div>
    </div>
  </div>
  <div class="col-lg-6">


    <div id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Filter results by Sex
           </a>
          </h5>
        </div>

        <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-block">
            <%= form_tag results_path(@results.uuid), method: :get do %>
              <h4>Sex</h4>
              <p>
                <%= radio_button_tag "filter[gender]", 'Male' %>
                <%= label_tag "filter[gender]", 'Show only results by Males' %>
              </p>
              <p>
                <%= radio_button_tag "filter[gender]", 'Female' %>
                <%= label_tag "filter[gender]", 'Show only results by Females' %>
              </p>

              <%= submit_tag 'Filter by Sex', class: 'btn btn-primary' %>
            <% end %>
          </div>

        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
             Filter results by Educational Specialism
            </a>
          </h5>
        </div>

        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="card-block">
            <%= form_tag results_path(@results.uuid), method: :get do %>
              <h4>Educational Specialism</h4>
              <p class="card-text">
                <%= radio_button_tag "filter[educational_specialism]", 'Biological Sciences' %>
                <%= label_tag 'Biological Sciences (e.g. Zoology, Plant Sciences)' %>
              </p>
              <p class="card-text">
                <%= radio_button_tag "filter[educational_specialism]", 'Non-biological Natural Sciences' %>
                <%= label_tag 'Non-biological Natural Sciences (e.g. Chemistry, Maths, Engineering)' %>
              </p>
              <p class="card-text">
                <%= radio_button_tag "filter[educational_specialism]", 'Social Sciences' %>
                <%= label_tag 'Social Sciences (e.g. Economics, Human Geography, Political Science)' %>
              </p>
              <p class="card-text">
                <%= radio_button_tag "filter[educational_specialism]", 'Humanities' %>
                <%= label_tag 'Humanities (e.g. Literature, History, Philosophy, Languages)' %>
              </p>
              <p class="card-text">
                <%= radio_button_tag "filter[educational_specialism]", 'Interdisciplinary' %>
                <%= label_tag 'Interdisciplinary (a combination of at least two of Natural Science, Social Science and Humanities)' %>
              </p>
              <p class="card-text">
                <%= radio_button_tag "filter[educational_specialism]", 'Not Applicable' %>
                <%= label_tag 'Not Applicable' %>
              </p>

              <%= submit_tag 'Filter by Educational Specialism', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="headingThree">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
             Highest completed educational qualification
            </a>
          </h5>
        </div>

        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="card-block">
            <%= form_tag results_path(@results.uuid), method: :get do %>
              <h4>Highest completed educational qualification</h4>
              <p class="card-text">
                <%= radio_button_tag "filter[education]", 'School level' %>
                <%= label_tag 'School level' %>
              </p>
              <p class="card-text">
                <%= radio_button_tag "filter[education]", 'Post-high school, but at an institution other than a university' %>
                <%= label_tag 'Post-high school, but at an institution other than a university' %>
              </p>
              <p class="card-text">
                <%= radio_button_tag "filter[education]", 'Undergraduate/Bachelors university degree' %>
                <%= label_tag 'Undergraduate/Bachelors university degree' %>
              </p>
              <p class="card-text">
                <%= radio_button_tag "filter[education]", 'Masters degree/Postgraduate qualification' %>
                <%= label_tag 'Masters degree/Postgraduate qualification' %>
              </p>
              <p class="card-text">
                <%= radio_button_tag "filted[education]", 'Doctorate' %>
                <%= label_tag 'Doctorate' %>
              </p>

              <%= submit_tag 'Filter by Highest completed educational qualification', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>

    </div><!--accordion-->

  </div>
</div>

