<div class="row my-2">
  <h3><%= t('results.your_results') %></h3>
  <hr class="primary">

  <div class="col-lg-6">
    <div class="card">
      <div class="card-block">
        <a name="chart"></a>
        <h4 class="card-title"><%= t('results.see_how_you_compare') %></h4>
        <p class="card-text"><%= t('results.comparing_your_results_against') %> <%= @all_other_results.count %> <%= t('results.other_most_recent') %> <%= t('results.result').pluralize(@all_other_results.count) %></p>
        <% if params["filter"].present? %>
          <p><%= t('results.filtering_results_by') %> <%= format_filters_for_display %></p>
        <% end %>
      </div>
      <%= scatter_chart @data, @config %>
      <div class="my-2 text-xs-center">
        <h4><%= t('results.share_the_survey') %></h4>
        <%= render 'social_sharing' %>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <%= render "filters" %>
  </div>
</div>


<div class="row my-2">
  <div class="col-lg-12">
    <h4><%= t('results.how_to_interpret') %></h4>
    <p><%= t('results.your_position_is') %> <%= format_results_strength(@results, :x) %> <%= t('results.along_the_people_and_nature') %> <%= format_results_strength(@results, :y) %> <%= t('results.along_the_conservation_and_capitalism') %></p>

    <%= format_text(@results.classification.results_description) %>
    <h4><%= t('results.your_thinking_most_closely') %> <%= @results.classification.name %></h4>
    <%= format_text(@results.classification.description) %>

    <p><%= t('results.all_four_positions') %></p>
    <p><%= link_to t('results.find_out_more_about'), about_the_debate_path %></p>
    <%= image_tag 'FoC-ALL.jpg' %>

    <h4><%= t('contact.title') %></h4>
    <p><%= raw t('results.for_more_information') %></a></p>
  </div>
</div>
