<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Your results</h4>
        <p class="card-text">Metadata about the results for this answer set</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="text-primary">IP Address: </span>
          <%= @results.ip_address %>
        </li>
        <li class="list-group-item">
          <span class="text-primary">X Axis Total: </span>
          <%= @results.x_axis_total%>
        </li>
        <li class="list-group-item">
          <span class="text-primary">Y Axis Total: </span>
          <%= @results.y_axis_total%>
        </li>
        <li class="list-group-item">
          <span class="text-primary">X Axis (Scaled): </span>
          <%= @results.x_axis_scaled%>
        </li>
        <li class="list-group-item">
          <span class="text-primary">Y Axis (Scaled): </span>
          <%= @results.y_axis_scaled%>
        </li>
        <li class="list-group-item">
          <span class="text-primary">Date Submitted: </span>
          <%= @results.created_at.to_formatted_s(:long)%>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Your results</h4>
        <p class="card-text">See how your results compare to others</p>
      </div>
      <%= scatter_chart [
        { name: "Other peoples results", data: AnswerSet.pluck(:x_axis_scaled, :y_axis_scaled) },
        { name: "Your results", data: [[@results.x_axis_scaled, @results.y_axis_scaled]] }
      ] %>
    </div>
  </div>
</div>



