<div class="row my-2">
  <h3>Your results</h3>
  <hr class="primary">

  <div class="col-lg-6">
    <div class="card">
      <div class="card-block">
        <a name="chart"></a>
        <h4 class="card-title">See how you compare with others</h4>
        <p class="card-text">Comparing your results against <%= @all_other_results.count %> other most recent <%= "result".pluralize(@all_other_results.count) %></p>
        <% if params["filter"].present? %>
          <p>Filtering results by: <%= format_filters_for_display %></p>
        <% end %>
      </div>
      <%= scatter_chart @data, @config %>
      <div class="my-2 text-xs-center">
        <h4>Share the survey</h4>
        <%= render 'social_sharing' %>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <%= render "filters" %>
  </div>
</div>


<div class="row my-2">
  <div class="col-lg-12">
    <h4>How to interpret your results</h4>
    <p>Your position is <%= format_results_strength(@results, :x) %> along the people & nature axis and <%= format_results_strength(@results, :y) %> along the conservation & capitalism axis.</p>

    <%= format_text(@results.classification.results_description) %>
    <h4>Your thinking most closely aligns with: <%= @results.classification.name %></h4>
    <%= format_text(@results.classification.description) %>

    <p>All four positions represented by these particular dimensions of the debate are shown in the figure below.</p>
    <p><%= link_to "Find out more about your position and the others.", about_the_debate_path %></p>
    <%= image_tag 'FoC-ALL.jpg' %>

    <h4>Contact</h4>
    <p>For more information about The Future of Conservation project please email <a href="mailto:futureofconservation@gmail.com">futureofconservation@gmail.com</a></p>
  </div>
</div>
