<%#<div class="row">%>
  <%#<div class="col-lg-12">%>
    <%#<h3>You have most in common with</h3>%>
    <%#<h1>??? Conservationalist</h1>%>
  <%#</div>%>
<%#</div>%>

<%#<div class="row">%>
  <%#<div class="col-lg-6">%>
    <%#<p>%>
      <%#Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mauris odio, dapibus id tellus in, tincidunt auctor ligula. Praesent sit amet urna feugiat, euismod leo vitae, ornare quam. Nulla porta dapibus eleifend. Donec a sollicitudin urna, id euismod nisi. Etiam ut cursus quam. Donec at efficitur ipsum. Sed sagittis efficitur dolor, nec sollicitudin elit lacinia eu. Nulla blandit mauris et laoreet luctus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec nisi nulla, porttitor a augue sit amet, efficitur auctor ligula. Fusce malesuada cursus enim vitae volutpat. Donec volutpat dolor vel velit consequat, id tempus nulla tempor. Curabitur fermentum turpis elit, non cursus velit convallis a.%>
    <%#</p>%>
  <%#</div>%>
  <%#<div class="col-lg-6">%>
    <%#<%= image_tag 'http://www.placehold.it/500x250' %>
  <%#</div>%>
<%#</div>%>

<div class="row my-2">
  <h1>Your results</h1>
  <hr class="primary">

  <div class="col-lg-6">
    <div class="card">
      <div class="card-block">
        <a name="chart"></a>
        <h4 class="card-title">See how you compare with others</h4>
        <p class="card-text">Comparing your results against <%= @all_other_results.count %> other <%= "result".pluralize(@all_other_results.count) %></p>
        <% if params["filter"].present? %>
          <p>Filtering results by: <%= format_filters_for_display %></p>
        <% end %>
      </div>
      <%= scatter_chart @data, @config %>
      <div class="my-2 text-xs-center">
        <h4>Share your results</h4>
        <%= render 'social_sharing' %>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <%= render "filters" %>
  </div>
</div>


<div class="row my-2">
  <div class="col-lg-12">
    <h4>Your thinking most closely aligns with: <%= @results.classification.name %></h4>
    <%= format_text(@results.classification.description) %>
    <h4>Your results</h4>
    <p>Your position is <%= @results.classification_strength_x %> along the people/nature axis and <%= @results.classification_strength_y %> along the conservation & capitalism axis.</p>

    <%= format_text(@results.classification.results_description) %>
  </div>
</div>

