<nav id="topNav" class="navbar navbar-toggleable-sm navbar-fixed-top navbar-light bg-faded">
  <div class="container navbar-container">
    <button class="navbar-toggler hidden-md-up navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar"></button>

    <%= link_to root_path, class: 'navbar-brand page-scroll' do %>
      <%= image_tag 'foc_logo.png', class: 'navbar-logo' %>
    <% end %>

    <div class="collapse navbar-collapse navbar-toggleable-sm justify-content-between" id="collapsingNavbar">
      <ul class="nav navbar-nav">
        <%= active_link_to t('menu.home'), root_path %>
        <%= active_link_to t("menu.take_the_survey"), new_survey_path %>
        <%= active_link_to t('menu.about_the_project'), about_the_project_path %>
        <%= active_link_to t('menu.about_the_debate'), about_the_debate_path %>
      </ul>
    </div>
  </div>
</nav>
