<!DOCTYPE html>
<html>
  <head>
    <title>Future of Conservation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.google.com/jsapi" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body data-env="<%= Rails.env %>">
    <div class="container" id="container" data-lang="<%= I18n.locale %>">
      <%= render 'layouts/flash' %>
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/i18n' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>

    <%= render 'layouts/analytics' %>
  </body>
</html>
